/* per togliere pie di pagina*/
@page  {
    size: auto;
    margin: 5mm;
}

body{
    margin: 0;
}

/* regole del testo scitto per stampare */
div.title > h1{
    color: plum;

}

.container{
    background: linear-gradient( 20deg, darkslateblue, aqua);
    -webkit-print-color-adjust: exact; /*regola ereditaria */
}
